<a href="https://colab.research.google.com/github/KangYein/py07/blob/master/ch3_exercises_py07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [0]:
# [Q1] Code  
a = "Life is too short, you need python"
if "wife" in a: print("wife") #wife란 단어가 안들어가 있으므로 실행이 안된다.
elif "python" in a and "you" not in a: print("python") #python란 단어가 a에 들어가 있고 python란 단어가 a에 들어가 있으므로 실행이 안된다.
elif "shirt" not in a: print("shirt") #shirt란 단어가 안들어가 있으므로 실행이 된다.
elif "need" in a: print("need") #need란 단어가 들어가 있지만 이미 앞에서 elif가 실행됐기 때문에 실행이 안된다.
else: print("none") #위에 조건에서 맞는게 없으면 none을 출력

shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [0]:
# [Q2] Code
a=0
sum=0
while a < 1000:
  a=a+1
  if a%3==0:
    sum=sum+a
  else: continue
print("1부터 1000까지 3의 배수의 합은 %d 입니다." %sum)

1부터 1000까지 3의 배수의 합은 166833 입니다.

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [0]:
# [Q3] Code1
i=0
while i<5:
  i+=1 #i가 1씩 증가
  print("*"*i) #*을 i번 출력,문자열 연산 방식

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [0]:
# [Q4] Code1 for문 사용
for i in range(1, 101) :#1부터 100까지 출력한다. 실제 사용하는 마지막 횟수에는 (종료숫자-1)이다.
    print(i)

In [0]:
# [Q4] Code2 함수 호출 사용
def a(x,y): #x부터 y까지 출력하는 함수 만들기
  while x<(y+1):
    print(x)
    x=x+1
a(1,3)#1부터 3까지 출력 예
#사용자가 직접 입력
num1=int(input("첫번째 숫자 입력:"))
num2=int(input("두번째 숫자 입력:"))
a(num1,num2)

1
2
3
첫번째 숫자 입력:1
두번째 숫자 입력:5
1
2
3
4
5

In [0]:
# [Q4] Code2 리스트 내포 사용
number=[x for x in range(1,101)]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [0]:
# [Q5] Code1
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum=0
for i in a:
  sum+=i
average=sum/10
print("A학급의 점수 총합은 %d이며 평균 점수는 %.1f입니다." %(sum,average)) #소수점 첫째자리까지 출력

A학급의 점수 총합은 790이며 평균 점수는 79.0입니다.

In [0]:
# [Q5] Code2
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum=0
for i in range(0,10):
  sum+=a[i] #a[0]~a[9]의 값을 더한다.
print(sum/10)

79.0

In [0]:
# [Q5] Code3
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
i=0
sum=0
while i<10:
  sum+=a[i]
  i+=1
print(sum/10)

79.0

In [0]:
# [Q5] Code4
scores=[]
scores.append(input("과목1:"))
scores.append(input("과목2:"))
scores.append(input("과목3:"))
scores.append(input("과목4:"))
scores.append(input("과목5:"))
scores.append(input("과목6:"))
scores.append(input("과목7:"))
scores.append(input("과목8:"))
scores.append(input("과목9:"))
scores.append(input("과목10:"))
sum=0
for i in range(0,10):
  sum+=int(scores[i])
average=sum/10
print("평균: %.2f" %average)

과목1:70
과목2:60
과목3:55
과목4:75
과목5:95
과목6:90
과목7:80
과목8:85
과목9:100
과목10:80
평균: 79.00

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [0]:
# [Q6] Code1 리스트 내포 사용
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [num * 2 for num in numbers if num % 2 == 1] #홀수에만 2를 곱함
print(result)

[2, 6, 10, 14, 18]

In [0]:
# [Q6] Code2 while문 사용
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
i=0
while i<9:
    if numbers[i] % 2 == 1:
        result.append(numbers[i]*2)
    i+=1
print(result)

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [0]:
# [Q7] Code-1 for문 사용
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum=0
for i in range(0,4):
  subjects[i]=scores[i]
  sum+=subjects[i]
print("과목수:",len(subjects))
average=sum/(len(subjects))
print("평균: %.2f" %average) #소수점 첫째자리까지 출력

과목수: 4
평균: 80.25

In [0]:
# [Q7] Code-2
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum=0
for i in range(0,4):
  sum+=scores[i]
print(sum/4)

80.25

In [0]:
# [Q7] Code-3 #사용자가 입력
scores=[]
scores.append(input("파이썬 점수:"))
scores.append(input("영어 점수:"))
scores.append(input("수학 점수:"))
scores.append(input("물리 점수:"))
sum=int(scores[0])+int(scores[1])+int(scores[2])+int(scores[3])
average=sum/4
print("평균: %.2f" %average)

파이썬 점수:91
영어 점수:67
수학 점수:88
물리 점수:75
평균: 80.25

In [0]:
# [Q7] Code-4 while문 사용
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
i=0
sum=0
while i<4:
  sum+=scores[i]
  average= sum/len(subjects)
  i+=1
print("평균:",average)

평균: 80.25

In [0]:
# [Q7] Code-5 dictionary 사용
scores={'파이썬':91, '영어':67, '수학':88, '물리':75}
sum=scores['파이썬']+scores['영어']+scores['수학']+scores['물리']
average=sum/len(scores)
print(list(scores.keys()),"평균:%.2f" %average)
print("평균:",f'{average:0.2f}')#문자열 포매팅 사용

['파이썬', '영어', '수학', '물리'] 평균:80.25
평균: 80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb