<a href="https://colab.research.google.com/github/KangYein/py07/blob/master/py07_exam_mid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중간필기시험: 파이썬 활용 (2019.10.21)
- 문제에 배점이 표시되어 있음. (기본 배점은 1, 총 30점)

***

### # [1] 다음 식의 연산 결과는?

```
a = 3
b = 4
a**b  
```

In [0]:
#1번 풀이
a = 3
b = 4
a**b #a**b는 a의 b제곱이라는 의미이다.
#a를 b를 곱한다는 의미이므로 3 * 3 * 3 * 3= 81 이다.

81

### # [2] 다음 문자열 a의 길이는?


```
a = "Life is too short!"

len(a)
```

In [0]:
#2번 풀이
a = "Life is too short!"

len(a)

18

In [0]:
#2번 풀이
for i in range(0,len(a)):
  print("a[%d]=%s" %(i,a[i]))
  
#'L','i','f','e',' ','i','s',' ','t','o','o',' ','s','h','o','r','t','!'는 18개이다.

a[0]=L
a[1]=i
a[2]=f
a[3]=e
a[4]=
a[5]=i
a[6]=s
a[7]=
a[8]=t
a[9]=o
a[10]=o
a[11]=
a[12]=s
a[13]=h
a[14]=o
a[15]=r
a[16]=t
a[17]=!

### # [3-4] 다음 문자열 a 에 대하여 인덱싱과 슬라이싱을 한 결괴는? 


```
a = "Life is too short, You need Python!"

print(a[-12])   # 문제[3]

# 

a[19:-8]       # 문제[4] 

```

In [0]:
#3번 풀이
a = "Life is too short, You need Python!"
len(a)

35

In [0]:
#3번 풀이
print(a[-12])#뒤에서 12번째를 가르킨다.
print(a[23])#똑같은 'n'을 가르킨다.

n
n

In [0]:
#4번 풀이
a[19:-8]#인덱스19부터 뒤에서 9번째자리까지 출력된다.

'You need'



---

### # [5] 다음의 결과가 출력되지 않는 것은?

'I ate 10 apples. so I was sick for three days.'


```
# code start
number = 10
day = "three"

'''
A. "I ate {0} apples. so I was sick for {1} days.".format(10, day)
B. f"I ate {number} apples. so I was sick for {day} days."
C. "I ate {number} apples. so I was sick for {three} days."
D. "I ate {0} apples. so I was sick for {1} days.".format(number, day)
'''

```

In [2]:
#5번 풀이
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(10, day)

'I ate 10 apples. so I was sick for three days.'

In [0]:
f"I ate {number} apples. so I was sick for {day} days."

'I ate 10 apples. so I was sick for three days.'

In [4]:
"I ate {number} apples. so I was sick for {three} days."#포매팅을 하지않고 넣었기 때문에 문자열로 취급받아 그대로 출력된다.#포매팅을 해도 three는 선언되지 않은 값이기 때문에 에러가 뜬다.

'I ate {number} apples. so I was sick for {three} days.'

In [0]:
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'



---

### # [6] format 함수 또는 f 문자열 포매팅을 이용해서 '!!python!!' 문자열을 출력해보시오.

```



```

In [0]:
#6번 풀이
"{0:!^10}".format("python") #치환되는 문자열을 가운데로 정렬하고 문자열의 총 자릿수를 10으로 맞춘다.

'!!python!!'

### # [7] 다음 list a의 인덱싱 결과는?

```
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]


a[3][-1][0]

```

In [0]:
#7번 풀이
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]

a[3][-1][0] #a의 4번째 원소의 마지막 원소의 첫번째 문자를 뜻한다.
#['a', 'b', ['My', 'Life', 'Good']]->['My', 'Life', 'Good']->'My'

'My'



---

### # [8] 다음 list x의 슬라이싱 결과는?


```
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

x[-6:1:-1]

```

In [0]:
#8번 풀이
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

x[-6:1:-1]#마지막에서 6번째 자리에서 첫번째 자리에서 왼쪽으로 첫번째 자리까지 출력

[4, 3]



---

### # [9] 다음 list x에 함수 count의 적용 결과는?


```
a = [1, 2, 's', 't']
x = a*3

x.count("s")

```

In [0]:
#9번 풀이
a = [1, 2, 's', 't']
x = a*3
print(x)#문자열 연산한 x
x.count("s") #x에 's'의 개수를 출력

[1, 2, 's', 't', 1, 2, 's', 't', 1, 2, 's', 't']

3



---

### # [10] 다음 tuple t1의 슬라이싱 결과는?



```
t1 = (0, 2, "s", "t", "u")

t1[3:-1]

```

In [0]:
#10번 풀이
t1 = (0, 2, "s", "t", "u")

t1[3:-1] #인덱스3부터 마지막자리 전까지 출력된다. 튜플이기 때문에 하나가 들어있어도 쉼표가 출력된다.

('t',)



---

### # [11] 다음 set s1의 최종 출력 결과는?

```
s1 = set([1, 2, 3])
s1.update([2, 4, 6])

s1.add(3)

s1  # 출력 결과?
```

In [0]:
#11번 풀이
s1 = set([1, 2, 3]) #set은 중복을 허용하지 않는다.
s1.update([2, 4, 6]) #값을 한꺼번에 추가
s1.add(3) #이미 3이 있기 때문에 추가안됨
s1

{1, 2, 3, 4, 6}



---

### # [12] 다음 bool 값 출력 중 정확한 것은?

bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))


```
'''
A. (True, True, True, True)
B. (False, False, False, False)
C. (True, True, False, True)
D. (True, False, False, True)
'''

```

In [0]:
bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,)) #문자열,리스트,튜플,딕셔너리 등의 값이 비어있으면 거짓,숫자에서는 그 값이 0일 때 거짓

(True, True, False, True)



---

### # [13-2점] 다음 조건문을 1줄 코드로 변경하시오.  

```
score=80

if score >= 70:
    message = "success"
else:
    message = "failure"

print(message)

```

> 출력 결과 :  success

In [0]:
# [13-2점] 1줄 조건문

message = _____________________________________________________________________


print(message)

In [0]:
#13번 풀이
score=80
message = "success" if score >=70 else "failure" 
#score이 70이상이면 success를 출력,아니면 failure를 출력
print(message)

success



---

### # [14-2점] 다음 커피자판기가 실행 결과와 같이 제대로 실행되도록 A, B 에 코드를 완성하시오. 
> coffee.py

```

coffee = 5

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % A._____________)
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if B._______________:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break
```
> 실행 결과 :  
```
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

```

In [0]:
#14번 풀이
coffee = 5

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (int(money)-300)) #커피가 300원이므로 지불한 금액에서 커피 값을 뺀다.
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee==0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.



---

### # [15-2점] 다음 for-loop의 출력 결과는?

```

games = ["축구", "야구", "농구"]

# 
for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')
    
    
```

> 출력 결과 ?

In [0]:
#15번 풀이
games = ["축구", "야구", "농구"]

for cnt in range(len(games)):
    print(cnt, games[cnt], end=',') #인덱스 번호 출력,인덱스번호에 있는 단어 출력,end:해당 결과값을 출력할 때 다음 줄로 넘기지 않고 ,를 마지막에 넣고 그 줄에 계속해서 출력

0 축구,1 야구,2 농구,



---

### # [16-2점] 다음 dictionary를 이용하여 평균 점수를 계산하는 코드를 완성하시오.

```


scores={"국어":80, "영어":75, "수학":55}


print("평균점수는{0}점입니다".format(sum([16]_____________________)/len(scores)))


    
```

In [0]:
#16번 풀이
scores={"국어":80, "영어":75, "수학":55}


print("평균점수는{0}점입니다".format(sum(scores.values())/len(scores))) #value값을 합하여서 개수만큼 나눈다.

평균점수는70.0점입니다



---

### # [17-2점] ['Life', 'is', 'too', 'short.'] 리스트를 Life is too short. 문자열로 만들어 출력하는 코드를 완성하시오.
> join 함수를 이용하시오.

```

words = ['Life', 'is', 'too', 'short']


words = ______________________________


print(words)

    
```

In [0]:
words = ['Life', 'is', 'too', 'short']


words = " ".join(words) #공백을 넣어 단어 사이를 이어준다.


print(words)

Life is too short



---



---

### # [18-2점] a 리스트에서 중복 숫자를 제거해서 출력하는 다음 코드를 완성하시오.



```

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]


a = A.________________


a = B.________________


print(a)



```


  
> 출력 결과 : [1, 2, 3, 4, 5]

In [0]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]


a = set(a) #중복되는 숫자 제거

a=list(a) #리스트로 바꾼다.


print(a)

[1, 2, 3, 4, 5]




---



---

### # [19-2점] 다음 코드의 결과값은 무엇일까?



```

a = "Life is too short, you need python"


if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" in a: print("shirt")

elif "you" in a: print("you")

else: print("none")




```
  
  
  
> 출력 결과 ?

In [0]:
a = "Life is too short, you need python"


if "wife" in a: print("wife") #"wife"는 a에 들어가 있지 않으므로 출력되지 않는다.

elif "python" in a and "you" not in a: print("python") #"python"이 a에 들어가 있지만 "you"도 a에 들어가 있으므로 출력되지 않는다.

elif "shirt" in a: print("shirt") #"shirt"는 a에 들어가 있지 않으므로 출력되지 않는다.

elif "you" in a: print("you") #"you"는 a에 들어가 있으므로 "you"가 출력된다.

else: print("none") #위에 조건들이 다 성립하지 않을 경우 "none"을 출력하지만 위에서 한가지 조건이 성립되었기 때문에 출력되지 않는다.

you



---



---

### # [20-2점] for문 사용해 1부터 1000까지의 자연수 중 5의 배수의 합을 구하는 전체 코드를 작성하시오.

> 결과(5의 배수의 합)까지 출력하는 코드는 4줄 이하로 작성하시오.
>> 최소한의 줄로 만든 코드는 bonus 점수를 부여함.



```
___________________________________________________________

___________________________________________________________

___________________________________________________________

___________________________________________________________


```

In [0]:
sum=0
for i in range(1,1001): #1부터 1000까지 범위지정
  if i%5==0:sum=sum+i #5의 배수끼리 더한다.
print(sum)

100500



---

### # [21-2점] 1부터 1000까지의 자연수 중 5의 배수를 전부 포함하는 list를 list 내포로 만드시오.

> 한 줄 코드로 완성하시오.


```


______________________________________________________________________



```

In [0]:
[a for a in range(1,1001) if a%5==0 ] #1에서 1000까지 5의 배수일 경우 리스트에 포함시킨다.



---

## 정답을 설명하는 파이썬 노트를 완성해서 각자의 github에 올리시오.
- 제출기한: 10월 28일(월) 오후 4시.

### 업로드 파일명: pynn_exam_mid.ipynb  (pynn은 id)